- name: Update Linux Servers (Ubuntu/Debian)
  hosts: all
  become: true
  become_method: sudo
  become_user: root

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Upgrade all packages
      apt:
        upgrade: dist
        force_apt_get: yes
